.header * {
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cardo, "serif";
}

.header {
  position: sticky;
  top: 0;
  background: #1B3764;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 100%;
  max-width: 1300px;
  padding: 2rem 0.7rem;
}

.header__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.12rem;
}

.navbar__logo {
  cursor: pointer;
  width: 118px;
  height: 35px;
}

.navbar__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: auto;
  margin-left: 33px;
}

.socials__wrapper {
  width: 45px;
  height: 45px;
}

.socials__social {
  width: 100%;
  height: 100%;
}

.socials__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar__menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  color: #fff;
  margin-right: 1.875rem;
}
@media screen and (max-width: 1034px) {
  .navbar__menu {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none !important;
  }
}

.menu__item {
  font-size: 17px;
  font-family: Inter, "sans-serif";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu__item:hover {
  opacity: 0.8;
}

.navbar__open {
  display: none;
  height: 2rem;
  width: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar__open {
    display: block;
  }
}

.open__img {
  width: 100%;
  height: 100%;
}

.header__button {
  color: #1B3764;
  padding: 0.813rem 2.063rem;
  outline: none;
  border: none;
  background: #FFCA42;
  cursor: pointer;
  font-size: 1.188rem;
}
@media screen and (max-width: 1024px) {
  .header__button {
    display: none;
  }
}

.button {
  color: #1B3764 !important;
  padding: 0.813rem 2.063rem;
  outline: none;
  border: none;
  background: #FFCA42;
  cursor: pointer;
  font-size: 1.188rem;
}

.header__mobile-menu {
  display: flex;
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #1B3764;
  transition: 0.3s all ease-in-out;
}

.mobile-menu__list {
  width: 100%;
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  align-items: center;
}

.mobile-menu__item {
  transition: 0.3s all ease-in-out;
  font-family: Inter, "sans-serif";
  cursor: pointer;
  width: 40%;
  text-align: center;
  border-radius: 15px;
  padding: 1rem 2rem;
}
.mobile-menu__item:last-of-type {
  padding: 0 2rem;
}
.mobile-menu__item:hover:not(:last-of-type) {
  background: #F6F8FC;
  color: #1B3764;
}
.mobile-menu__item:last-of-type {
  box-sizing: content-box;
}

.mobile-menu__cart {
  background: transparent;
  border: none;
}

.mobile-menu__order {
  color: #1B3764 !important;
  padding: 0.813rem 2.063rem;
  outline: none;
  border: none;
  background: #FFCA42;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s all ease-in-out;
}
.mobile-menu__order:hover {
  color: #fff !important;
}

@media screen and (max-width: 960px) {
  .header__container {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .content__container {
    gap: 2rem !important;
    flex-direction: column-reverse;
    padding: 20px 0.5rem !important;
  }
  .content__wrapper {
    align-content: center;
  }
  .content__welcome {
    align-self: center;
  }
  .content__heading {
    font-size: 2.5rem !important;
  }
  .content__desc {
    margin-top: 8px !important;
    font-size: 1rem !important;
  }
  .content__order {
    flex-direction: column;
    gap: 1rem !important;
    margin-top: 30px !important;
  }
  .content__stats {
    margin-top: 30px !important;
  }
  .navbar__socials {
    display: none !important;
  }
  .stats__list {
    padding-left: 0 !important;
    gap: 2.5rem !important;
    justify-content: center !important;
    list-style: none !important;
  }
  .item__heading {
    font-size: 1.5rem !important;
  }
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1300px;
}

.hero__content * {
  color: #fff;
}

.hero__content {
  background: #1B3764;
  display: flex;
  justify-content: center;
}

.content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 5.938rem 0.313rem 7.188rem;
}

.content__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content__welcome {
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content__welcome:before {
  content: "";
  width: 34px;
  border-top: 1px solid #FFCA42;
  margin-right: 15px;
}

.content__heading {
  margin-top: 16px;
  font-size: 4.063rem;
}

.content__desc {
  margin-top: 32px;
  color: #B4C7E7;
  font-family: Inter, "sans-serif";
  font-size: 1.188rem;
}

.content__order {
  display: flex;
  gap: 2.313rem;
  align-items: center;
  margin-top: 49px;
}

.content__more {
  font-size: 1.188rem;
  color: #fff;
  text-decoration: none;
  padding: 0.188rem 5px 0;
  border-bottom: 1px solid #fff;
}

.content__book {
  width: 100%;
  height: 100%;
  max-height: 800px;
  max-width: 592px;
}

.book__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__stats {
  margin-top: 49px;
}

.stats__list {
  list-style-image: url("../../images/list-style-image.svg");
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  padding-left: 20px;
}

.item__heading {
  font-size: 1.5rem;
}

.item__stat {
  font-family: Inter, "sans-serif";
  font-size: 0.8rem;
  color: #B4C7E7;
}

.author-books {
  display: flex;
  justify-content: center;
}

.author-books-container {
  padding: 9.063rem 0 9.313rem;
}
@media screen and (max-width: 768px) {
  .author-books-container {
    padding-top: 4rem !important;
  }
}

.author-books-content {
  margin-top: 4.938rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .author-books-content {
    gap: 8rem !important;
  }
}

.author-books-heading {
  color: #1B3764;
  font-size: 2.813rem;
  text-align: center;
}

.book-img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 18.75rem;
  max-height: 25rem;
}

.book-img {
  width: 100%;
  height: 100%;
}

.author-books-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}
@media screen and (max-width: 768px) {
  .author-books-book {
    gap: 0 !important;
  }
}

.book-content {
  width: 100%;
  max-width: 17.563rem;
}

.book-heading {
  color: #1B3764;
  font-size: 2rem;
  margin-top: 2.094rem;
}

.book-desc {
  color: #969AA0;
  font-size: 1.188rem;
  margin-top: 0.875rem;
}

.book-stats {
  list-style-image: url("../../images/list-style-image.svg");
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 1.875rem;
}

.book-stats-heading {
  font-size: 1.5rem;
  color: #1B3764;
}

.book-stats-desc {
  font-size: 1.125rem;
  color: #969AA0;
}

.book-stats-btn {
  color: #1B3764 !important;
  padding: 1.25rem 3.313rem;
  outline: none;
  border: 1px solid #FFCA42;
  background: transparent;
  cursor: pointer;
  font-size: 1.188rem;
  margin-top: 1.875rem;
  transition: 0.3s all ease-in-out;
}
.book-stats-btn:hover {
  background: #FFCA42;
}

/*# sourceMappingURL=home.css.map */
