$primary-color: #1B3764;
$secondary-color: #FFCA42;
$additional-color: #F6F8FC;

$primary-font: Cardo, "serif";
$secondary-font: Inter, "sans-serif";

@mixin header() {
  background: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin header__container {
  width: 100%;
  max-width: 1300px;
  padding: 2.7rem 0.7rem 0;
}

@mixin header__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3.12rem;
}

@mixin navbar__logo {
  cursor: pointer;
  width: 118px;
  height: 35px;
}

@mixin navbar__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin-right: auto;
  margin-left: 33px;
}

@mixin socials__wrapper {
  width: 45px;
  height: 45px;
}

@mixin socials__social {
  width: 100%;
  height: 100%;
}

@mixin socials__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin navbar__menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  list-style: none;
  color: #fff;
  font-family: $secondary-font;

  margin-right: 1.875rem;

  @media screen and (max-width: 1034px) {
    margin-right: 0 !important;
  }
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

@mixin menu__item {
  font-size: 17px;
  cursor: pointer;

  transition: all .2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

@mixin item__cart {
  width: 1.375rem;
  height: 1.313rem;
}

@mixin header__button($size, $pY, $pX, $color: $primary-color) {
  color: $color;
  padding: $pY $pX;
  outline: none;
  border: none;
  background: $secondary-color;
  cursor: pointer;

  font-size: $size;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.header * {
  color: #fff;
}