@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600;700&display=swap");
@media screen and (max-width: 992px) {
  .button-sm-fill {
    padding: 10px 28px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Cardo", serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.button-sm-fill {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 56px;
  background-color: #FFCA42;
  border: 1px solid #FFCA42;
  cursor: pointer;
}

.button-sm-outline {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 56px;
  background-color: transparent;
  border: 1px solid #FFCA42;
  cursor: pointer;
  transition: 0.3s;
}
.button-sm-outline:hover {
  background-color: #FFCA42;
}

.button-bg-fill {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 96px;
  background-color: #FFCA42;
  border: 1px solid #FFCA42;
  cursor: pointer;
}

.button-bg-outline {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 96px;
  background-color: transparent;
  border: 1px solid #FFCA42;
  cursor: pointer;
}

.heading-2xl {
  color: #1B3764;
  font-size: 4.063rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-xl {
  color: #1B3764;
  font-size: 3.438rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-lg {
  color: #1B3764;
  font-size: 2.813rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-md {
  color: #1B3764;
  font-size: 2rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-sm {
  color: #1B3764;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-tn {
  color: #1B3764;
  font-size: 1.375rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.paragraph {
  font-size: 1.188rem;
  font-family: "Inter", sans-serif;
  color: #969AA0;
}

.list {
  margin-left: 22px;
  list-style-image: url("../images/list-style-image.svg");
}

.underline-left::after {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #FFCA42;
  display: block;
  margin-top: 1.375rem;
}

.underline-center::after {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  background-color: #FFCA42;
  margin: 1.375rem auto 0;
}

@media screen and (max-width: 1200px) {
  footer > div {
    gap: 2rem !important;
  }
}
@media screen and (max-width: 992px) {
  footer > div {
    flex-direction: column;
    align-items: center;
    gap: 4rem !important;
  }
  .footer-nav {
    justify-content: center !important;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 42px 15px !important;
  }
  .footer-nav {
    display: none !important;
  }
}
footer {
  background-color: #1B3764;
  padding: 84px 15px;
}

.footer-socials-list {
  margin-top: 27px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.footer-social-item {
  border: 1px solid #FFCA42;
  transition: 0.3s;
  width: 55px;
  height: 55px;
}

.footer-social-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-item:hover {
  background-color: #FFCA42;
}

footer > div {
  display: flex;
  gap: 9rem;
  align-content: center;
}

.footer-nav {
  display: flex;
  align-items: flex-start;
  gap: 65px;
}

.footer-nav-item:nth-of-type(3) {
  flex-basis: 322px;
}

.footer-nav-item h5 {
  color: #fff;
}

.footer-nav-links {
  list-style-image: url("../images/footer-list-style-image.svg");
  margin-top: 23px;
  margin-left: 32px;
  line-height: 2.05;
}

.footer-nav-links-item a {
  color: #B4C7E7;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
}

.footer-stats-container {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-stat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-address-heading {
  color: #fff;
  font-size: 1.125rem;
}

.address {
  margin-right: 14px;
}

.mail {
  margin-right: 40px;
}

.phone {
  margin-right: 24px;
}

/*# sourceMappingURL=footer.css.map */
