@import 'global';

// desktop
@media screen and (max-width: 1200px) {
  .books-wrapper {
    flex-direction: column;
  }
  .books-item {
    flex-basis: auto !important;
    justify-content: center;
  }
}

// laptops
@media screen and (max-width: 992px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  main>div {
    flex-direction: column-reverse;
    padding: 25px 15px !important;
    gap: 40px !important;
  }
  .hero-stats {
    display: none !important;
  }
  .hero-content {
    flex-basis: auto !important;
  }
  .hero-content>* {
    text-align: center !important;
    justify-content: center !important;
  }
  .hero-book {
    max-width: 300px !important;
    max-height: 400px !important;
  }
  .books-content {
    display: none !important;
  }
  .books>div {
    padding: 70px 15px !important;
  }
  .about>div {
    flex-direction: column;
    align-items: center;

    padding: 75px 15px !important;
    gap: 4rem !important;
  }
  .about-content>h3:after {
    margin: 0 auto;
  }
  .about-content {
    flex-basis: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }
  .about-content * {
    text-align: center;
  }
  .about-author::after {
    display: none;
  }
  .about-contact {
    flex-direction: column;
    gap: 15px !important;
  }
  .about-contact-qr {
    max-width: 90px !important;
    max-height: 90px !important;
  }
  .partners>div {
    padding: 70px 15px !important;
  }
  .partners-list {
    gap: 6rem !important;
  }
  .getbook-img {
    display: none;
  }
  .prospects>div {
    padding: 70px 15px;
  }
  .prospects-img {
    display: none;
  }
  .chapters-content-item {
    padding: 24px 26px !important;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

main {
  background-color: $secondary-color;
}

main>div {
  display: flex;
  align-items: center;
  padding: 50px 15px;
  gap: 95px;
}

.hero-content {
  flex-basis: 641px;
}

.hero-welcome {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.hero-welcome::before {
  content: '';
  width: 34px;
  height: 1px;
  background-color: $primary-color;
}

.hero-heading {
  color: #fff !important;
  line-height: 1.1;
}

.hero-paragraph {
  margin-top: 32px;
}

.hero-order {
  margin-top: 49px;
}

.hero-order a {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 1.188rem;
  color: #fff;
  margin-left: 41px;
}

.hero-stats {
  display: flex;
  color: #fff !important;
  gap: 80px;
  margin-top: 49px;
}

.hero-stats-item {
  color: #fff !important;
}

.hero-book {
  max-width: 592px;
  max-height: 800px;
}

.hero-book img {
  width: 100%;
  height: 100%;

}

.books>div {
  padding: 145px 15px 145px;
}

.books-wrapper {
  display: flex;
  justify-content: center;
  gap: 4.125rem;
  margin-top: 57px;
}

.books-item {
  display: flex;
  flex-basis: 641px;
  gap: 40px;
}

.books-img {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.books-img img {
  width: 100%;
}

.books-content {
  flex-basis: 281px;
}

.books-heading {
  text-align: center;
}

.books-content h4 {
  margin-top: 33px;
}

.books-content>p {
  margin-top: 14px;
}

.books-list {
  display: flex;
  gap: 76px;

  margin-top: 30px;
}

.books-list-paragraph {
  font-size: 1.125rem;
}

.books-content>button {
  color: $secondary-color;
  margin-top: 30px;
}

.about {
  background-color: $additional-color;
}

.about>div {
  padding: 150px 15px;

  display: flex;
  align-items: center;
  gap: 8.75rem;
}

.about-author {
  max-width: 550px;
  max-height: 650px;
  position: relative;
  z-index: 1;
}

.about-author::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 12px solid $primary-color;
  top: 2.5rem;
  left: 2.5rem;
  z-index: -1;
}

.about-author img {
  width: 100%;
  height: 100%;
}

.about-content {
  flex-basis: 570px;
}

.about-content>p {
  margin-top: 22px;
}

.about-stats {
  margin-top: 44px;

  display: flex;
  gap: 40px;
}

.about-stats-item {
  position: relative;
}

.about-stats-item:first-of-type:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 110%;
  height: 100%;
  width: 2px;
  background-color: $primary-color;
}

.about-stats-item:last-of-type:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 110%;
  height: 100%;
  width: 2px;
  background-color: $primary-color;
}

.about-contact {
  margin-top: 41px;
  background-color: $secondary-color;
  padding: 15px 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;

  max-width: 477px;
}

.about-contact-content-heading {
  color: $primary-color !important;
}

.about-contact-content>p {
  margin-top: 7px;
  line-height: 1.8;
}

.about-contact-qr {
  max-width: 130px;
  max-height: 130px;
}

.about-contact-qr img {
  width: 100%;
  height: 100%;
}

.partners>div {
  padding: 140px 15px;
}

.partners-heading {
  text-align: center;
}

.partners-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.partners-list-item {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-list-item .heading-sm {
  margin-top: 30px;
}

.partners-list-item p {
  text-align: center;
}

.getbook {
  background-color: $secondary-color;
}

.getbook>div {
  padding: 37px 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 127px;
}

.getbook-content {
  flex-basis: 567px;
}

.getbook-heading {
  color: #fff !important;
}

.getbook-content p {
  margin-top: 22px;
}

.getbook-button {
  margin-top: 31px;
  color: #fff;
}

.getbook-img {
  max-width: 640px;
  max-height: 427px;
}

.getbook-img img {
  width: 100%;
  height: 100%;
}

.prospects {
  overflow: hidden;
}

.prospects>div {
  padding: 145px 30px;
}

.prospects-heading {
  text-align: center;
}

.prospects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap-reverse;

  margin-top: 53px;
}

.prospects-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  flex-basis: 611px;
}

.prospects-item {
  padding: 41px 33px;
  max-width: 224px;
  background-color: #F4F8FF;
}

.prospects-item-heading {
  display: inline-block;
  border-radius: 100%;
  background-color: $primary-color;
  padding: 10px 12px;
}

.prospects-item-sub {
  margin-top: 31px;
  font-size: 1.5rem;
  color: $secondary-color;
  font-weight: 700;
}

.prospects-img {
  max-width: 550px;
  max-height: 650px;

  position: relative;
}

.prospects-img::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 12px solid $primary-color;
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: -1;
}

.prospects-img img {
  width: 100%;
  height: 100%;
}

.chapters {
  background-color: $additional-color;
}

.chapters>div {
  padding: 148px 15px;
}

.chapters-heading {
  text-align: center;
}

.chapters-content {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 50px;
}

.chapters-content-item {
  background-color: #fff;
  max-width: 526px;
  padding: 48px 52px;
}

.chapters-content-stats {
  display: flex;
  gap: 45px;
}

.chapters-content-item>p {
  margin-top: 14px;
}

.chapters-content-stats {
  margin-top: 25px;
}

.chapters-content-stats li * {
  display: inline-block;
}

.chapters-trial {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
