@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;600;700&display=swap");
@media screen and (max-width: 992px) {
  .button-sm-fill {
    padding: 10px 28px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Cardo", serif;
}

.button-sm-fill {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 56px;
  background-color: #FFCA42;
  border: 1px solid #FFCA42;
  cursor: pointer;
}

.button-sm-outline {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 56px;
  background-color: #fff;
  border: 1px solid #FFCA42;
  cursor: pointer;
  transition: 0.3s;
}
.button-sm-outline:hover {
  background-color: #FFCA42;
}

.button-bg-fill {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 96px;
  background-color: #FFCA42;
  border: 1px solid #FFCA42;
  cursor: pointer;
}

.button-bg-outline {
  font-size: 1.188rem;
  font-family: "Cardo", serif;
  padding: 20px 96px;
  background-color: #fff;
  border: 1px solid #FFCA42;
  cursor: pointer;
}

.heading-2xl {
  color: #1B3764;
  font-size: 4.063rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-xl {
  color: #1B3764;
  font-size: 3.438rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-lg {
  color: #1B3764;
  font-size: 2.813rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-md {
  color: #1B3764;
  font-size: 2rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-sm {
  color: #1B3764;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.heading-tn {
  color: #1B3764;
  font-size: 1.375rem;
  font-family: "Cardo", serif;
  letter-spacing: -0.015em;
}

.paragraph {
  font-size: 1.188rem;
  font-family: "Inter", sans-serif;
  color: #969AA0;
}

.list {
  margin-left: 22px;
  list-style-image: url("/images/list-style-image.svg");
}

.underline-left::after {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #FFCA42;
  display: block;
  margin-top: 22px;
}

.underline-center::after {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  background-color: #FFCA42;
  margin: 22px auto 0;
}

@media screen and (max-width: 1200px) {
  .books-wrapper {
    flex-direction: column;
  }
  .books-item {
    flex-basis: auto !important;
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  main > div {
    flex-direction: column-reverse;
    padding: 25px 15px !important;
    gap: 40px !important;
  }
  .hero-stats {
    display: none !important;
  }
  .hero-content {
    flex-basis: auto !important;
  }
  .hero-content > * {
    text-align: center !important;
    justify-content: center !important;
  }
  .hero-book {
    max-width: 300px !important;
    max-height: 400px !important;
  }
  .books-content {
    display: none !important;
  }
  .books > div {
    padding: 70px 15px !important;
  }
  .about > div {
    flex-direction: column;
    align-items: center;
    padding: 75px 15px !important;
    gap: 4rem !important;
  }
  .about-content > h3:after {
    margin: 0 auto;
  }
  .about-content {
    flex-basis: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }
  .about-content * {
    text-align: center;
  }
  .about-author::after {
    display: none;
  }
  .partners > div {
    padding: 70px 15px !important;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

main {
  background-color: #1B3764;
}

main > div {
  display: flex;
  align-items: center;
  padding: 50px 15px;
  gap: 95px;
}

.hero-content {
  flex-basis: 641px;
}

.hero-welcome {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.hero-welcome::before {
  content: "";
  width: 34px;
  height: 1px;
  background-color: #FFCA42;
}

.hero-heading {
  color: #fff !important;
  line-height: 1.1;
}

.hero-paragraph {
  margin-top: 32px;
}

.hero-order {
  margin-top: 49px;
}

.hero-order a {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 1.188rem;
  color: #fff;
  margin-left: 41px;
}

.hero-stats {
  display: flex;
  color: #fff !important;
  gap: 80px;
  margin-top: 49px;
}

.hero-stats-item {
  color: #fff !important;
}

.hero-book {
  max-width: 592px;
  max-height: 800px;
}

.hero-book img {
  width: 100%;
  height: 100%;
}

.books > div {
  padding: 145px 15px 145px;
}

.books-wrapper {
  display: flex;
  justify-content: center;
  gap: 4.125rem;
  margin-top: 57px;
}

.books-item {
  display: flex;
  flex-basis: 641px;
  gap: 40px;
}

.books-img {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.books-img img {
  width: 100%;
}

.books-content {
  flex-basis: 281px;
}

.books-heading {
  text-align: center;
}

.books-content h4 {
  margin-top: 33px;
}

.books-content > p {
  margin-top: 14px;
}

.books-list {
  display: flex;
  gap: 76px;
  margin-top: 30px;
}

.books-list-paragraph {
  font-size: 1.125rem;
}

.books-content > button {
  color: #1B3764;
  margin-top: 30px;
}

.about {
  background-color: #F6F8FC;
}

.about > div {
  padding: 150px 15px;
  display: flex;
  align-items: center;
  gap: 8.75rem;
}

.about-author {
  max-width: 550px;
  max-height: 650px;
  position: relative;
  z-index: 1;
}

.about-author::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 12px solid #FFCA42;
  top: 2.5rem;
  left: 2.5rem;
  z-index: -1;
}

.about-author img {
  width: 100%;
  height: 100%;
}

.about-content {
  flex-basis: 570px;
}

.about-content > p {
  margin-top: 22px;
}

.about-stats {
  margin-top: 44px;
  display: flex;
  gap: 40px;
}

.about-stats-item {
  position: relative;
}

.about-stats-item:first-of-type:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 110%;
  height: 100%;
  width: 2px;
  background-color: #FFCA42;
}

.about-stats-item:last-of-type:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 110%;
  height: 100%;
  width: 2px;
  background-color: #FFCA42;
}

.about-contact {
  margin-top: 41px;
  background-color: #1B3764;
  padding: 15px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  max-width: 477px;
}

.about-contact-content-heading {
  color: #FFCA42 !important;
}

.about-contact-content > p {
  margin-top: 7px;
  line-height: 1.8;
}

.about-contact-qr {
  max-width: 130px;
  max-height: 130px;
}

.about-contact-qr img {
  width: 100%;
  height: 100%;
}

.partners > div {
  padding: 140px 15px;
}

.partners-heading {
  text-align: center;
}

.partners-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.partners-list-item {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-list-item .heading-sm {
  margin-top: 30px;
}

.partners-list-item p {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
